server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/FlightManagementSystem
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

